body {
	
  background-image: linear-gradient(to right, #ffe3dd , #dcfff4);
  margin: auto;
  width: 100%;
  overflow:auto;
}

h1 { 
	font-family: 'Grenze Gotisch';
  position: top;

	text-align: center;
	margin: auto;
	border: 3px inset grey;

 }





#cone {
  animation: colorchange 15s linear 1s infinite; 
      -webkit-animation: colorchange 15s linear 0s infinite alternate; /* Chrome and Safari */
      opacity: 1;
}

#cone2 {
  animation: colorchange 15s linear 1s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 15s linear 0s infinite alternate; /* Chrome and Safari */
      opacity: 1;
}

}
@keyframes colorchange
    {
      0%   {border-top-color: red; color: cyan;}
      33%  {border-top-color: purple; color: magenta;}
      66%  {border-top-color: blue; color: yellow;}
      100% {border-top-color: red; color: cyan;}
   }

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {border-top-color: red; color: cyan;}
      33%  {border-top-color: purple; color: magenta;}
      66%  {border-top-color: blue; color: yellow;}
      100% {border-top-color: red; color: cyan;}
   }

@keyframes colorchange3
    {
      0%   {background-color: red; color: cyan;}
      33%  {background-color: purple; color: magenta;}
      66%  {background-color: blue; color: yellow;}
      100% {background-color: red; color: cyan;}
   }

@-webkit-keyframes colorchange3 /* Safari and Chrome - necessary duplicate */
    {
      0%   {background-color: red; color: cyan;}
      33%  {background-color: purple; color: magenta;}
      66%  {background-color: blue; color: yellow;}
      100% {background-color: red; color: cyan;}
   }

   @keyframes colorchange2
    {
      0%   {background-color: #ff0090; color: cyan;}
      33%  {background-color: purple; color: magenta;}
      66%  {background-color: #00fff2; color: yellow;}
      100% {background-color: #ff0090; color: cyan;}
   }

@-webkit-keyframes colorchange2 /* Safari and Chrome - necessary duplicate */
    {
      0%   {background-color: #ff0090; color: cyan;}
      33%  {background-color: purple; color: magenta;}
      66%  {background-color: #00fff2; color: yellow;}
      100% {background-color: #ff0090; color: cyan;}
   }


 #pizzahead { 
  
 	margin:auto;
 	width: 50%;
  height: 5%;
  background: #eee;
  border: 20px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #ffe3dd 0%, #dcfff4 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #ffe3dd 0%, #dcfff4 100%);
  border-image: linear-gradient(to bottom, #ffe3dd 0%, #dcfff4 100%);
  border-image-slice: 1;

  }

  .contain {
  align-items: center;
  
  opacity: 1;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 35%;
  overflow: hidden;
  padding-top: 20vh;
  position: absolute;
  right: 0;
  top: 25%;
  transform: scale(.8);

}

.contain2 {
  align-items: center;
  
  opacity: 1;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding-top: 20vh;
  position: absolute;
  right: 35%;
  top: 25%;
  transform: scale(.8);
}


@keyframes still {
  from {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
  to {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
}
@keyframes spin {
  from {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
  }
}

@media not all and (hover: none) {
  .hover-unsupported {
    display: none;
  }
}

@media not all and (hover: hover) {
  .hover-supported {
    display: none;
  }
}





.pizza-box {
  // animation: still 4.5s infinite linear;
  animation: spin 60s infinite linear;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
  transform-style: preserve-3d;
  width: 60vh;

  opacity:.3;


}

.lid-underside,
.lid {
  align-items: center;
  color: red;
  background-color: #f6f6f6;
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.2) inset;
  display: flex;
  // display: none;
  font-size: 14vh;
  height: 60vh;
  justify-content: center;
  position: absolute;
  text-align: center;
  transform: rotateX(86deg) translateY(3.9vh) translateZ(0.2vh);
  transform-origin: top center;
  transition: transform 0.3s ease-in;
  width: 60vh;
  z-index: 1;
  opacity:0;
}
.lid-underside {
  background-color: #dedede;
  transform: rotateX(86deg) translateY(4vh) translateZ(0.1vh);
  opacity:0;
}
.lid span {
  border: 2vh red solid;
  padding: 0 2vh;
}
.pizza-box:hover .lid {
  transform: rotateX(0deg) translateY(0) translateZ(4vh);
}
.pizza-box:hover .lid-underside {
  transform: rotateX(0deg) translateY(0) translateZ(3.9vh);
}

.pizza-box-side {
  background-color: #f6f6f6;
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.2) inset;
  height: 4vh;
  position: absolute;
  transform: rotateX(90deg);
  transform-origin: top;
  width: 60vh;
  opacity:0;
}
.front-side {
  background: linear-gradient(to right, rgba(214,214,214,1) 0%,rgba(246,246,246,1) 15%,rgba(246,246,246,1) 100%);
  transform: translateY(-28vh) rotateX(90deg);
  opacity:0;
}
.back-side {
  background-color: #bbb;
  bottom: -4vh;
  opacity:0;
}
.left-side {
  background-color: #ccc;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg) translateX(-28vh);
  transform-origin: 0 top;
  opacity:0;
}
.right-side {
  background-color: #ddd;
  bottom: -4vh;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg);
  transform-origin: 100% top;
  opacity:0;
}

.pizza {
  background-color: #ffecbe;
  border-radius: 50%;
  box-shadow: 0 0 1.8vh 1.5vh rgb(173, 117, 81) inset;
  // 0 0 1vh 0.4vh rgba(0, 0, 0, 0.4);
  display: block;
  height: 50vh;
  padding: 4vh;
  transform-style: preserve-3d;
  width: 50vh;
}

.sauce {
  background-color: hotpink;
  border-radius: 50%;
  position: absolute;
  transform: translateZ(2vh);
  transform-origin: center;
  animation: colorchange3 15s linear 1s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange3 15s linear 0s infinite alternate; /* Chrome and Safari */
}

.toppings {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas:
    ". a b ."
    "c d e f"
    "g h i j"
    ". k l .";
  height: 46vh;
  padding: 2vh;
  width: 46vh;
}

.basil {
  background-color: #498749;
  border-radius: 50% 0 50% 0;
  box-shadow: -1vh 0 1vh 0 #8ac059 inset;
  height: 8vh;
  width: 8vh;

}

.mozzarella {
  background: #fff;
  border-radius: 50%;
  box-shadow: 1vh 0.2vh 0.2vh 0 #a86306 inset, 3vh -3vh 0 -1.5vh #fff,
    3vh 3vh 0 -1.2vh #fff, 3vh -1vh 0 -2vh #fff, -2vh 2vh 0 -1vh #fff, 
    -2vh -2.5vh 0 -1.5vh #fff;;
  height: 8vh;
  width: 8vh;
  animation: colorchange3 15s linear 1s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange3 15s linear 0s infinite alternate; /* Chrome and Safari */
}

.mushroom {
  background: #fff;
  border-radius: 20%;
  height: 8vh;
  margin: 2vh 4vh;
  width: 4vh;
  
}
.mushroom:after,
.mushroom:before {
  content: "";
  display: block;
}
.mushroom:before {
  background: #c8c3b0;
  border-radius: 4vh 4vh 2vh 2vh;
  height: 5vh;
  margin-left: -3vh;
  width: 10vh;
}
.toppings * {
  place-self: center;
}
.toppings *:nth-child(1) {
  grid-area: a;
  transform: rotateZ(20deg);
}
.toppings *:nth-child(2) {
  grid-area: b;
  transform: rotateZ(40deg);
}
.toppings *:nth-child(3) {
  grid-area: c;
  transform: rotateZ(330deg);
}
.toppings *:nth-child(4) {
  grid-area: d;
  transform: rotateZ(96deg);
}
.toppings *:nth-child(5) {
  grid-area: e;
  transform: rotateZ(213deg);
}
.toppings *:nth-child(6) {
  grid-area: f;
  transform: rotateZ(247deg);
}
.toppings *:nth-child(7) {
  grid-area: g;
  transform: rotateZ(145deg);
}
.toppings *:nth-child(8) {
  grid-area: h;
  transform: rotateZ(50deg);
}
.toppings *:nth-child(9) {
  grid-area: i;
  transform: rotateZ(114deg);
}
.toppings *:nth-child(10) {
  grid-area: j;
  transform: rotateZ(7deg);
}
.toppings *:nth-child(11) {
  grid-area: k;
  transform: rotateZ(161deg);
}
.toppings *:nth-child(12) {
  grid-area: l;
  transform: rotateZ(261deg);
  // transform: rotateZ(random(360) + deg);
}


.blinking {
    animation: opacity 7s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 2;
  }


}

#header {
  padding:50px;
  text-align:center;
  background:#yellow;
  color: brown;
}

#back1 {
   position: relative;

}

#textbackground {
   position: absolute;
   
   margin: auto;
   top: 120px;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   opacity: .5;
   color: lightblue;
   font-family: 'Grenze Gotisch';
   font-size: 24px;

   
}

.chart {
  
    position:absolute;
    width:500px;
    height:250px;


}
.hold {
    position:absolute;
    
    width:200px;
    height:200px;
    clip:rect(0px,200px,200px,100px);
    left: 27%;
    filter: drop-shadow( 40px 30px 22px #73ffd3);

    
}
.hold2 {
    position:absolute;
    
    width: 200px;
    height:200px;
    clip:rect(0px,200px,200px,100px);
    right: 27%;    
    filter: drop-shadow( 40px 30px 22px #73ffd3);
}

.hold3 {
    position:absolute;
    
    width: 200px;
    height:200px;
    clip:rect(0px,200px,200px,100px);
    right: 27%;
    

}

.hold4 {
    position:absolute;
    
    width: 200px;
    height:200px;
    clip:rect(0px,200px,200px,100px);
    left: 27%;
    

}

.hold5 {
    position:absolute;
    
    width: 400px;
    height:400px;
    clip:rect(0px,200px,200px,100px);
    right:300px;
    top:3100px;
   

}

.Pizza {
    position:absolute;
/*  width:100px;
    height:200px;
    border-radius:100px 0 0 100px;
    transform-origin:right center; */
    width:200px;
    height:200px;
    clip:rect(0px,100px,200px,0px);
    border-radius:100px; 
    z-index: 4;



    
    
}

.Pizza2 {
    position:absolute;
/*  width:100px;
    height:200px;
    border-radius:100px 0 0 100px;
    transform-origin:right center; */
    width:100px;
    height:100px;
    clip:rect(0px,100px,200px,0px);
    border-radius:100px; 
    right:70px;
    z-index: 10;

}

.Pizza3 {
    position:absolute;
/*  width:100px;
    height:200px;
    border-radius:100px 0 0 100px;
    transform-origin:right center; */
    width:150px;
    height:150px;
    clip:rect(0px,100px,200px,0px);
    border-radius:100px; 
    right:70px;
    top:50px;


    

   
    z-index: 11;

}


.PizzaContainer {
          height: 100px;
          width: 100px;
          float: right;
          margin: 0 0 20px 20px;


     }
     #PizzaSliceYellow .Pizza {
      animation: colorchange2 6s linear 1s infinite; 
      -webkit-animation: colorchange2 6s linear 0s infinite alternate;
          background-color: #f2cd00;
          transform:rotate(60deg);
     }
     #PizzaSliceBlue {
          transform:rotate(60deg);
     }
     #PizzaSliceBlue .Pizza {
      animation: colorchange2 8s linear 1s infinite; 
      -webkit-animation: colorchange2 8s linear 0s infinite alternate;
          background-color: #002095;
          transform:rotate(60deg);
     }
     #PizzaSliceRed {
          transform:rotate(120deg);
     }
     #PizzaSliceRed .Pizza {
      animation: colorchange2 10s linear 1s infinite; 
      -webkit-animation: colorchange2 10s linear 0s infinite alternate;
          background-color: #950000;
          transform:rotate(60deg);
     }
      #PizzaSliceOlive {
          transform:rotate(180deg);
     }
     #PizzaSliceOlive .Pizza {
      animation: colorchange2 12s linear 1s infinite; 
      -webkit-animation: colorchange2 12s linear 0s infinite alternate;
          background-color: #a5a000;
          transform:rotate(60deg);
     }
     #PizzaSliceOrange {
          transform:rotate(240deg);
     }
     #PizzaSliceOrange .Pizza {
      animation: colorchange2 14s linear 1s infinite; 
      -webkit-animation: colorchange2 14s linear 0s infinite alternate;
          background-color: #f5a010;
          transform:rotate(60deg);
     }
      #PizzaSliceLime {
          transform:rotate(300deg);
     }
     #PizzaSliceLime .Pizza {
      animation: colorchange2 16s linear 1s infinite; 
      -webkit-animation: colorchange2 16s linear 0s infinite alternate;
          background-color: #99FF00;
          transform:rotate(60deg);
     }


#PizzaSliceYellow .Pizza2 {
      animation: colorchange2 3s linear 1s infinite; 
      -webkit-animation: colorchange2 3s linear 0s infinite alternate;
          background-color: #f2cd00;
          transform:rotate(60deg);
     }
     #PizzaSliceBlue {
          transform:rotate(60deg);
     }
     #PizzaSliceBlue .Pizza2 {
      animation: colorchange2 4s linear 1s infinite; 
      -webkit-animation: colorchange2 4s linear 0s infinite alternate;
          background-color: #002095;
          transform:rotate(60deg);
     }
     #PizzaSliceRed {
          transform:rotate(120deg);
     }
     #PizzaSliceRed .Pizza2 {
      animation: colorchange2 5s linear 1s infinite; 
      -webkit-animation: colorchange2 5s linear 0s infinite alternate;
          background-color: #950000;
          transform:rotate(60deg);
     }
      #PizzaSliceOlive {
          transform:rotate(180deg);
     }
     #PizzaSliceOlive .Pizza2 {
      animation: colorchange2 6s linear 1s infinite; 
      -webkit-animation: colorchange2 6s linear 0s infinite alternate;
          background-color: #a5a000;
          transform:rotate(60deg);
     }
     #PizzaSliceOrange {
          transform:rotate(240deg);
     }
     #PizzaSliceOrange .Pizza2 {
      animation: colorchange2 7s linear 1s infinite; 
      -webkit-animation: colorchange2 7s linear 0s infinite alternate;
          background-color: #f5a010;
          transform:rotate(60deg);
     }
      #PizzaSliceLime {
          transform:rotate(300deg);
     }
     #PizzaSliceLime .Pizza2 {
      animation: colorchange2 8s linear 1s infinite; 
      -webkit-animation: colorchange2 8s linear 0s infinite alternate;
          background-color: #99FF00;
          transform:rotate(60deg);
     }

#PizzaSliceYellow .Pizza3 {
      animation: colorchange2 3s linear 1s infinite; 
      -webkit-animation: colorchange2 3s linear 0s infinite alternate;
          background-color: #f2cd00;
          transform:rotate(60deg);
     }
     #PizzaSliceBlue {
          transform:rotate(60deg);
     }
     #PizzaSliceBlue .Pizza3 {
      animation: colorchange2 4s linear 1s infinite; 
      -webkit-animation: colorchange2 4s linear 0s infinite alternate;
          background-color: #002095;
          transform:rotate(60deg);
     }
     #PizzaSliceRed {
          transform:rotate(120deg);
     }
     #PizzaSliceRed .Pizza3 {
      animation: colorchange2 5s linear 1s infinite; 
      -webkit-animation: colorchange2 5s linear 0s infinite alternate;
          background-color: #950000;
          transform:rotate(60deg);
     }
      #PizzaSliceOlive {
          transform:rotate(180deg);
     }
     #PizzaSliceOlive .Pizza3 {
      animation: colorchange2 6s linear 1s infinite; 
      -webkit-animation: colorchange2 6s linear 0s infinite alternate;
          background-color: #a5a000;
          transform:rotate(60deg);
     }
     #PizzaSliceOrange {
          transform:rotate(240deg);
     }
     #PizzaSliceOrange .Pizza3 {
      animation: colorchange2 7s linear 1s infinite; 
      -webkit-animation: colorchange2 7s linear 0s infinite alternate;
          background-color: #f5a010;
          transform:rotate(60deg);
     }
      #PizzaSliceLime {
          transform:rotate(300deg);
     }
     #PizzaSliceLime .Pizza3 {
      animation: colorchange2 8s linear 1s infinite; 
      -webkit-animation: colorchange2 8s linear 0s infinite alternate;
          background-color: #99FF00;
          transform:rotate(60deg);
     }

#circbottom {
       
      position:absolute;
     height:10.5vh;
     width:11vw;
     border-radius: 150px 500px 120px 150px;
     background: green;
     margin-top: 22em;

     right: 45%;
     

     animation: colorchange3 15s linear 1s infinite; 
      -webkit-animation: colorchange3 15s linear 1s infinite alternate;
      z-index: 9;

}


.thought {
  font-family: 'Grenze Gotisch';
  font-size: 1.75em;
  display:flex;
  background-color:#fff;
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:20vw;
  min-height:40px;
  margin:20px;
  top: 19em;
  right: 53%;
  margin-right: 3em;
  position:absolute;
  align-items:center;
  justify-content:center;
  text-align:center;
  opacity: .7;
}
.thought:before,
.thought:after {
  content:"";
  background-color:#fff;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #fff;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
  
}





#snowflake2 {
  position:absolute;
font-color:white;
  z-index:-5;
}
.snowflake {
  position:absolute;
 
  
  filter: invert(180);
  font-size: 5.8em;
  font-family: 'Pizza', 'Grenze Gotisch';
  text-shadow: 0 0 11px #000;
  opacity: .02;
z-index: 1;
animation: colorchange3 15s linear 1s infinite; 
      -webkit-animation: colorchange3 15s linear 1s infinite alternate;

      
      
      

}





     






