
body {
  background-color: lightblue;
  margin: auto;
  width: 100%;
}

#header {
  padding:50px;
  text-align:center;
  background:#yellow;
  color: brown;
}

#grad {
  background-image: linear-gradient(to right, red , yellow);
}
