body {
	
  background-image: linear-gradient(to right, #ffe3dd , #dcfff4);
  margin: auto;
  width: 100%;
}

h1 { 
	font-family: 'Grenze Gotisch';

	text-align: center;
	margin: auto;
	border: 3px inset grey;
 }

#audiojs_wrapper1 {
  margin:auto;
  margin-bottom: 5px;

}

#cone {
  animation: colorchange 15s linear 1s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 15s linear 0s infinite alternate; /* Chrome and Safari */
}

}
@keyframes colorchange
    {
      0%   {border-top-color: red; color: cyan;}
      33%  {border-top-color: purple; color: magenta;}
      66%  {border-top-color: blue; color: yellow;}
      100% {border-top-color: red; color: cyan;}
   }

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {border-top-color: red; color: cyan;}
      33%  {border-top-color: purple; color: magenta;}
      66%  {border-top-color: blue; color: yellow;}
      100% {border-top-color: red; color: cyan;}
   }


 #pizzahead { 
 	margin:auto;
 	width: 750px;
  height: 50px;
  background: #eee;
  border: 20px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #ffe3dd 0%, #dcfff4 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #ffe3dd 0%, #dcfff4 100%);
  border-image: linear-gradient(to bottom, #ffe3dd 0%, #dcfff4 100%);
  border-image-slice: 1;
  }

.blinking {
    animation: opacity 7s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

#header {
  padding:50px;
  text-align:center;
  background:#yellow;
  color: brown;
}

#back1 {
   position: relative;

}

#textbackground {
   position: absolute;
   
   margin: auto;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   opacity: .5;
   color: lightblue;
   font-family: 'Grenze Gotisch';
   font-size: 24px;

   
}

